.row,
.col {
  padding: 0;
  margin: 0;
}

.input-group {
  justify-content: space-between;
  margin-bottom: 5em;

  .character {
    display: flex;
    flex-direction: column;

    padding: 0;

    p {
      font-size: 0.9em;
      color: gray;
      font-weight: 500;
      margin: 0.5em 0.5em;
    }

    input {
      padding: 0.5em 1em;
    }
  }

  .clock {
    padding: 0;
    margin: auto 0 0;

    svg {
      height: 3.5em;
    }
  }

  .generate {
    margin: auto 0 0 0;
    padding: 0;

    button {
      padding: 0.8em 0;
      font-size: 0.9em;
      width: 100%;
    }
  }
}

.character-table {
  border-radius: 0.5em;
  border: 1px solid #dee2e6;
  margin-bottom: 3em;

  table {
    margin: 0;
    th, td {
      text-align: center;
    }
    thead {
      tr {
        th {
          border-top: 0;
          border-bottom: 0;
          width: 9%;
        }
        th:first-child {
          border-left: 0;
          width: 10%;
        }
        th:last-child {
          border-right: 0;
        }
      }
    }
    tbody {
      tr {
        th,
        td:first-child {
          border-left: 0;
        }
        td:last-child {
          border-right: 0;
        }
      }
      tr:last-child {
        th, td {
          border-bottom: 0;
        }
        th,
        td:first-child {
          border-left: 0;
        }
        td:last-child {
          border-right: 0;
        }
      }
    }
  }
}
